services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: betteragri
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  backend:
    build:
      context: ./server/core
    command: gunicorn core.betteragri.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./server/core:/app
      - media_volume:/app/mediafiles
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/betteragri
    depends_on:
      - postgres
    restart: unless-stopped

  ai_service:
    build:
      context: ./server/ai_service
    ports:
      - "8001:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
    restart: unless-stopped

volumes:
  postgres_data:
  media_volume:
